<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhengtd.dao.AdminMapper">

    <insert id="addAdmin">
      INSERT INTO T_ADMIN (A_ID, A_NAME, A_PASS)
      VALUES (ADMIN_SEQ.nextval,#{a_name},#{a_pass})
    </insert>

    <update id="updateAdmin">
        UPDATE T_ADMIN SET A_NAME=#{a_name},a_pass=#{a_pass}
        where a_id=#{a_id}
    </update>

    <delete id="deleteAdmin">
        DELETE FROM T_ADMIN WHERE A_ID=#{a_id}
    </delete>

    <select id="getByID" resultType="com.zhengtd.model.Admin">
        SELECT * FROM T_ADMIN WHERE A_ID=#{a_id}
    </select>

    <select id="getByLoginA" resultType="com.zhengtd.model.Admin">
        SELECT * FROM T_ADMIN WHERE A_NAME=#{a_name} and a_pass=#{a_pass}
    </select>

</mapper>